<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<div th:if="${lifter} != null" class="container d-flex justify-content-center" th:fragment="lifter-info">
    <div class="results-card w-50">
        <h1>Lifter Information</h1>
        <h2 th:text="${lifter.name() + ' ' + lifter.sex()}"></h2>
        <h3>Personal Bests</h3>

        <table class="table table-dark table-striped m-0">
            <thead>
            <tr>
                <th>Equip</th>
                <th>Squat</th>
                <th>Bench</th>
                <th>Deadlift</th>
                <th>Total</th>
                <th>GLP</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${lifter.equip()}"></td>
                <td th:text="${lifter.squat()}"></td>
                <td th:text="${lifter.bench()}"></td>
                <td th:text="${lifter.deadlift()}"></td>
                <td th:text="${lifter.total()}"></td>
                <td th:text="${lifter.glp()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>