<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<div th:fragment="lifter-card" class="container d-flex justify-content-center">
    <div class="results-card w-50">
        <h2 th:text="${lifter.getName() + ' ' + lifter.getSex()}"></h2>
        <h3>Personal Bests</h3>

        <table class="m-0 w-100">
            <thead>
            <tr>
                <th>Equip</th>
                <th>Squat</th>
                <th>Bench</th>
                <th>Deadlift</th>
                <th>Total</th>
                <th>GLP</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${lifter.getEquipment()}"></td>
                <td th:text="${lifter.getBest3SquatKg()}"></td>
                <td th:text="${lifter.getBest3BenchKg()}"></td>
                <td th:text="${lifter.getBest3DeadliftKg()}"></td>
                <td th:text="${lifter.getTotalKg()}"></td>
                <td th:text="${lifter.getGoodlift()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>