<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<div th:fragment="search">
    <div class="container d-flex justify-content-center w-100 p-0">
        <div class="results-card w-100 text-center">
            <div class="table-wrapper justify-content-center">
                <table class="table-xl w-100 text-center">
                    <thead>
                    <tr>
                        <th><h2>Results</h2></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="name : ${names}">
                        <td><p th:text="${name.getName()}" th:onclick="populate('dataContainer', '[(${name.getLink()})]')"></p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>